Default: &defaults
  host: "*4" # any IPv4 host
  port: 3000
  approot: "http://localhost:3000"
  copyright: Insert copyright statement here
  pagename: Pagename
  author: Authorname
  admin: user@example.com
  enable_comments: True
  #summary_max_length: 200
  #analytics: UA-YOURCODE
  #force_image_ratio: 1.5

Development:
  <<: *defaults

Testing:
  <<: *defaults

Staging:
  <<: *defaults

Production:
  #approot: "http://www.example.com"
  <<: *defaults
